#results {
	list-style-type: none;
}
#results li {
	border: 1px solid;
}
.imgContainer {
	padding-right: 0;
}
.imgContainer img {
	max-width: 100%;
}
.badge-info {
	background-color: #5bc0de;
}

div#source-code {
  text-align: center;

  padding: 2em;
}
div#source-code img {
  width: 25px;
  height: 25px;
}
div#source-code a {
  color: #01579B;
  text-decoration: none;
}
div#source-code a:hover {
  text-decoration: underline;
}
